.me-img {
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 50%
}

@media screen and (max-width: 1920px) {
    .me-img {
        width: 200px;
    }
}

@media screen and (max-width: 1000px) {
    .me-img {
        width: 200px;
    }
}