figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto
}

img {
    display: relative;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto
}
